/*ei mitään hajua mitä tapahtuu*/

.main{
    background: url('media/portti.jpg')  center center fixed ;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}


.cont{
    
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    width: 50%;
    height:4rem;
       
    margin-top:33% ; 
    position: sticky;
    
    bottom: auto;
    margin-left:auto ;
    margin-right: auto;
    margin-top:400px ; 
    margin-bottom: auto;
    top: auto;
    bottom: auto;


    overflow:hidden;
    
    
    
   

    
    
   
 
    
}
.link{
  /* linkkilaatikoiden asettelua ja reunoja */  
  
    text-align: center;
    padding: 1rem;
    font-family: 'Segoe UI';
    font-weight: 400;
    text-decoration: none ;
    font-size: larger;
    text-transform: uppercase;
    float: center;
    display: block;
    
    
    
    
    
    
    
}



a:visited{
    color: black;
}
a:hover{
    color: goldenrod;   
}
a:link{
    color:inherit;
}



#oikea{
    border-right:0.1rem groove black;
    
    
}
#keski{

    border-right:0.1rem groove black;}

#oikea a {
    font-family: 'Segoe UI';
    font-weight: 400;
    text-decoration: none
}
#keski a {
    font-family: 'Segoe UI';
    font-weight: 400;
    text-decoration: none
    
}
#diipa a{
    text-decoration: none
}

#keski:hover{
    color:goldenrod;
}
 /*BIO SIVUN MUOKKAUS, aseteltu kuvia ja tekstiä*/
 #bio{
    background: url('media/biotausta.jpg') center center fixed;
    font-family:'Segoe UI' ;
    color: bisque;
    font-family: 'Segoe UI';
 }
 .biotitle{
   
   text-align: center;
   
   
   
   font-weight: 500;
   margin-top: 10rem;
   
   !important
   
}
#bio p{
    width: 15rem;
    margin-left:10rem;
    margin-top: 10rem;
    display: block;
    
    
   
    
}
#passikuva{
  
    margin-top:-12rem;
    margin-left: 16rem;
    display: block;
    
}

#hobby{
   text-align: right;
}

